.footer {
  border-top: 1px solid var(--border-color);
}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-block: 2rem;

  color: var(--text-secondary);

  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .footer__content {
    flex-direction: column;
    gap: var(--space-sm);

    text-align: center;
  }
}