.btn-secondary {
  color: var(--text-primary);

  background-color: transparent;
  border: 1px solid var(--border-color);
}

.btn-secondary:hover {
  border-color: var(--accent-primary);
  transform: translateY(-2px);
}